
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
}


.home-container {
  width: 100vw;       
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-x: hidden; 
}



.layout-container {
  flex: 1;              
  display: flex;
  overflow: hidden;      
}
