.display-container {
    width: 120%;             
    margin: 8px auto;             
    padding: 24px;      
    border-radius: 15px;      
    background-color: #121212;
    color: white;
    overflow-x: auto; 
    overflow-y: auto;
}
.display-container::-webkit-scrollbar{
  display: none;
}

@media (min-width: 1024px) {
  .display-container {
    width: 84%;            
    margin-left: 0;         
  }
}
