
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.displayhome-container {
  width: 100%;
  max-width: 100%; 
  margin: 0 ;   
  padding: 0px 0px; 
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}
.your-playlist-container{
  margin-top: 5px;
}
.your-playlist{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  font-family: sans-serif;
}
.song-data {
  display: grid;
  grid-auto-flow: column;        
  grid-auto-columns: 180px;       
  gap: 16px;

  overflow-x: auto;                
  overflow-y: auto;

  padding-bottom: 5px;
  padding-top: 5px;
}
.song-data::-webkit-scrollbar{
  display: none;
}
